<?xml version="1.0"?>
<launch>
    <param name="topic" value="map_mesh" />
    <node name="map_publisher" pkg="amcl6d_tools" 
          type="mesh_publisher" />
      
    <param name="mesh_topic" value="map_mesh" />
    <node name="raytracer_service" pkg="cgal_raytracer" 
          type="raytracer_service" />
      
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" />
    
    <node name="rviz" pkg="rviz" type="rviz" />
    
    <node name="mesh_transform" pkg="tf" 
          type="static_transform_publisher"
          args="0 0 0 0 0 1.5707963267 world mesh 100" />
</launch>
