<?xml version="1.0"?>
<launch>
    <!-- used in raytracer_service, mesh_publisher and 
         map_service -->
    <param name="mesh_topic"    value="map_mesh" />

    <node  name="map_service"  pkg="amcl6d_tools" 
           type="map_service" output="screen" />

    <!--node  name="mesh_publisher" pkg="amcl6d_tools"
           type="mesh_publisher" output="screen" /-->

    <node  name="raytracer_service" pkg="cgal_raytracer" 
           type="raytracer_service" output="screen" />

    <!-- used in raytracer_client -->
    <param name="service" value="RaytraceAtPose" />

    <node  name="raytracer_client" pkg="amcl6d_tools"
           type="raytracer_client" output="screen" />

    <!-- used for dynamic reconfiguration -->
    <node name="rqt_gui" pkg="rqt_gui" 
          type="rqt_gui" output="screen" />

    <!-- mesh visualization - make sure you use the 
         rviz_mesh_plugin, otherwise you can still
         fallback to the pointcloud -->
    <node name="rviz" pkg="rviz" 
          type="rviz" />

    <!-- transformations to provide the different frames -->
    <node name="mesh_transform"     pkg="tf" 
          type="static_transform_publisher"
          args="0 0 0 0 0 0 world map_mesh 100" />
    <node name="mesh_map_transform" pkg="tf"
          type="static_transform_publisher"
          args="0 0 0 0 0 0 world poses 100" />
    <node name="rt_frame_transform" pkg="tf"
          type="static_transform_publisher"
          args="0 0 0 0 0 0 world rt_frame 100" />
    <node name="poses_transform"    pkg="tf"
          type="static_transform_publisher"
          args="0 0 0 0 0 0 world poses 100" />
</launch>
