<?xml version="1.0"?>
<launch>
    <param name="topic" value="map_mesh" />
    <node name="map_publisher" pkg="amcl6d_tools" 
          type="mesh_publisher" output="screen" />
      
    <param name="mesh_topic" value="map_mesh" />
    <param name="raytrace_frame" value="world" />
    <node name="raytracer_service" pkg="cgal_raytracer" 
          type="raytracer_service" output="screen" />
      
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" />
    
    <node name="rviz" pkg="rviz" type="rviz" />
</launch>
